!!! 5
html
	head
		meta(name='viewport',content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
		link(rel='stylesheet', href='/css/common.css')
		link(rel='stylesheet', href='/css/modules/user.css')
	body
		div#contents
			div#message
				textarea
			div#name
				input(placeholder="Input your name")

		script(src='/js/lib/chikuwa.js')
		script(src='/js/lib/socket.io.js')
		script(src='/js/main.js')
		script(src='/js/modules/user.js')